[Unit]
Description=Minecraft Server
Wants=minecraft-backup.timer
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/opt/minecraft/server/latest
WorkingDirectory=/opt/minecraft/server/latest
Type=simple
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal
User=minecraft
Group=minecraft
Restart=on-failure
RestartSec=15
ExecStart=/opt/minecraft/server/latest/bedrock_server
ExecStop=/opt/minecraft/utilities/stop.sh $MAINPID

[Install]
WantedBy=multi-user.target
