[Unit]
Description=Minecraft Server Backup Timer
BindsTo=minecraft.service

[Timer]
Unit=minecraft-backup.service
#OnCalendar=*-*-* *:*:00
OnCalendar=hourly
