[Unit]
Description=Minecraft Server Backup Timer

[Timer]
Unit=minecraft-backup.service
#OnCalendar=*-*-* *:*:00
OnCalendar=hourly

[Install]
WantedBy=timers.target
