[Unit]
Description=Minecraft Server
Wants=minecraft-backup.timer
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/opt/minecraft/server/latest
WorkingDirectory=/opt/minecraft/server/latest
Type=simple
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal
User=minecraft
Group=minecraft
Restart=on-failure
RestartSec=15
ExecStart=/opt/minecraft/server/latest/bedrock_server
#ExecStop=/usr/bin/bash -c 'echo stop > /opt/minecraft/temporary/minecraft.stdin'
ExecStop=/opt/minecraft/utilities/command.sh stop
ExecStop=/usr/bin/bash -c 'sleep 5'

[Install]
WantedBy=multi-user.target
