[Unit]
Description=Minecraft Server Backup
Requisite=minecraft.service

[Service]
Type=oneshot
ExecStart=/opt/minecraft/scripts/backup.sh
TimeoutStartSec=90
